body {
    background: white;
}

.is-hidden {
    display: none;
}

.button-is-disabled {
    color: grey;
}

.register-step-is-done {
    background: #00BCD4;
    padding: 10px;
    border-top: 1px solid #9E9E9E;
}
.register-step-is-done > h2::before {
    content: "✓";
    color: #FFEB3B;
    font-size: 30px;
}
.navigation-menue > li {
    display: inline-block;
}
.navigation-menue-item {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}
.navigation-menue-link {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: .5em 1em;
}


.navigation-menue-active,
.navigation-menue-link:hover,
.navigation-menue-link:focus {
    background-color: #eee;
}
