body {
    background: white;
}

.is-hidden {
    display: none;
}

.button-is-disabled {
    color: grey;
}

.register-step-is-done {
    background: #00BCD4;
    padding: 10px;
    border-top: 1px solid #9E9E9E;
}
.register-step-is-done > h2::before {
    content: "✓";
    color: #FFEB3B;
    font-size: 30px;
}
.navigation-menue > li {
    display: inline-block;
}

