/* sayitlike.me custom styles */
/**
 * Colors
 * Green tick: color: #009688;
*/
body, html {
    background: white;
    height: 100%;
}
.react-root-component,
.react-goes-here
{
    height: 100%;
}
.is-hidden {
    display: none;
}

.button-is-disabled {
    border-color: rgba(136, 136, 136, .7);
    color: grey;
}
.button-is-disabled:hover {
    border-color: rgba(136, 136, 136, .7);
    color: grey;
}
.register-step {
    padding-top: 10px;
    border-top: 1px solid #9E9E9E;
}
.register-step-is-done {
    color: rgba(0, 0, 0, 0.4);
}
.register-step-is-done > h2::before {
    content: "✓";
    color: #009688;
    font-size: 30px;
}
.navigation-menue > li {
    display: inline-block;
}
.navigation-menue-item {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}
.navigation-menue-link {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: .5em 1em;
}


.navigation-menue-active,
.navigation-menue-link:hover,
.navigation-menue-link:focus {
    background-color: #eee;
}

.profile-created-overlay {
    position: fixed;
    top: 30vh;
    background: #4CAF50;
    padding: 10px;
    color: white;
}
.profile-created-overlay-link,
.profile-created-overlay-link:visited
{
    color: #2d1e1e;
    text-decoration: none;
}

/* search area */
.search-container {
    background: rgba(0, 188, 212, 0.15);
}
.search-container-link {
    color: #2d1e1e;
    text-decoration: none;
}
.search-container-list {
    list-style: none;
}

/* Audio Player */
.audio-player-play {
    text-decoration: none;
    padding: 10px;
}


/* Footer */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 80px;
}
.site-footer {
  background: rgba(0, 188, 212, 0.48);
}
.footer-menue {
    list-style: none;
}
.footer-menue > li {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
}
.footer-menue > li > a {
    color: #2d1e1e;
}
